.nav {
    color:black;
    font-size: 20px;
    font-family: Arial;
    text-align: center;
    font-weight: bold;
    position: relative;
    margin-left:150px;
  }
  .dashboard {
    color:black;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial;
    text-align: center;
    position: relative;
    margin-left:500px;
  }
  .settingicon {
    font-size: 30px;
    position: relative;
    margin-left:350px;
  }
  